<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" type="text/css" href="~/Content/css/ratchet.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
	<script type="text/javascript" src="~/Content/js/ratchet.js"></script>
	<title></title>
</head>

<body>

	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" href="/"></a>
		<h1 class="title">flashcards</h1>
		<a class="icon icon-share pull-right" href="#"></a>
	</header>

	<div class="bar bar-footer">

		<form method="post">

			<input type="hidden" value="@Model.Card.Id" name="cardId" />

			<button class="btn btn-positive pull-left" type="submit" value="1" name="answerCorrect">
				Correct
			</button>

			<button class="btn btn-negative pull-right" type="submit" value="0" name="answerCorrect">
				Incorrect
			</button>
		</form>
	</div>

	<div class="content content-flash" ontouchstart="this.classList.toggle('flipped');">
		<div class="flash">
			<div class="front">
				@Html.Raw(Model.Card.Question)

			</div>
			<div class="back">
				@Html.Raw(Model.Card.Answer)
			</div>
		</div>
	</div>

</body>
</html>
